$pill-corners: 20px;
$pill-pad-h: 12px;

.bar {
  font-family: $font;
  font-size: $font-size;
  color: $fg;
}

.pill {
  padding: 0px $pill-pad-h;
  border-radius: $pill-corners;
  background-color: $bg;
}

.tag-circle > .active {
  color: $red;
}
.tag-circle > .occupied {
  color: $green;
}
.tag-circle > .urgent {
  color: $error;
}

.pill.low-battery {
  background-color: mix($bg, $red, 15%);
  color: $bg;
}

.wifi-icon-label {
  padding-left: 3px;
}

.wifi-disconnected > .wifi-info-label {
  color: $red;
}
