* {
  all: unset;
}

// https://i.imgur.com/jlU8jVp.png
.bar {
  background-color: #1f2430;
  color: #cbccc6;
  font-family: "IosevkaTermSlab NFP";
  font-size: large;
}

.workspaces {
  padding-left: 10px;
}

.sidestuff {
  padding-right: 10px;
}
