* {
  all: unset;
  background-color: #1f2430;
  font-family: "M+CodeLat50 Nerd Font";
  font-size: 20px;
  color: #cbccc6;
  border-radius: 10px;
}

// https://i.imgur.com/jlU8jVp.png
.bar {
  background-color: transparent;
}

.workspaces {
  padding: 0px 10px;
}

.active-tag {
  color: #f28776;
}

.occupied-tag {
  color: #bae67e;
}

.urgent-tag {
  animation-name: urgent-tag--anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes urgent-tag--anim {
  from {
    color: #ff3333;
  }
  to {
    color: #cbccc6;
  }
}

.current-window {
  padding: 0px 10px;
}

.sidestuff {
  padding: 0px 10px;
}
