* {
  all: unset;
}

$font: "Symbols Nerd Font", "RecMonoCasual Nerd Font Mono";
$font-size: 20px;

$bg: #1f2430;
$fg: #cbccc6;

$red: #f28776;
$green: #bae67e;
$blue: #73d0ff;
$yellow: #ffd580;
$purple: #d4bfff;

$error: #ff3333;

@import "bar/eww.scss"
